.Main {
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20vh;

    width: 80%;
}

.Title {
    font-size: 6rem;
    color: #F2BAC9;
    text-align: center;
}

.Subtitle {
    font-size: 1.5rem;
    color: #EBf5EE;
    text-align: center;

    margin-bottom: 5vh;
}

.Card {
    background: var(--primary);

    display: flex;

    justify-content: start;
    align-items: center;

    flex-direction: column;

    width: 20vw;
    height: 50vh;

    padding: 20px;
    margin: 5px;

    border-radius: 20px;
}

.Card h3 {
    color: var(--secondary-background);
    font-size: 2.5rem;
    margin: 0.5rem 0;
}

.Card p, span, label {
    color: var(--primary-background);
}