.main {
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10vh;

    width: 80%;
}

.Title {
    font-size: 6rem;
    color: #F2BAC9;
    text-align: center;
}

.Subtitle {
    font-size: 1.5rem;
    color: #EBf5EE;
    text-align: center;

    margin-bottom: 5vh;
}

