
/*NAVIGATION*/

.NavStyle {
    z-index: 10;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #EBf5EE10;
    backdrop-filter: blur(10px);

    height: 100%;
}

.NavItem {
    height: 5vh;
    font-size: 4vh;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    gap: 50px;
}

.NavLink {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

/* CARD */

.PreviewCard {
    max-width: 1000px;
    margin: 0 50px;
}

.CardSide {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.CardSide.hidden {
    opacity: 0;
    pointer-events: none;
}

.CardSide.visible {
    opacity: 1;
    pointer-events: auto;
}