@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');

/*To import: VT323*/

:root {
  /*Text colors*/
  --primary: #EBf5EE;
  --secondary: #F2BAC9;
  --warning: #B3001B;
  --submit: #0075F2;

    /*Background colors*/
  --primary-background: #0E0023;
  --secondary-background: #47198B;
}

body {
  background-color: var(--primary-background);
  color: var(--primary);
  margin: 0;
  font-family: 'Chivo Mono', monospace;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Press Start 2P', cursive;
  color: var(--secondary);
}

