@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');

:root {
  /*Text colors*/
  --primary: #EBf5EE;
  --secondary: #F2BAC9;
  --warning: #B3001B;
  --submit: #0075F2;

    /*Background colors*/
  --primary-background: #0E0023;
  --secondary-background: #47198B;

}

/* GLOBAL STYLES */

html {
  font-size: 16px;
}

body {
  background-color: var(--primary-background);
  color: var(--primary);
  margin: 0;
  font-family: 'Chivo Mono', monospace;

}

#root {
  display: flex;
  justify-content: center;
}

/* HEADERS AND TEXT */

h1, h2, h3, h4, h5, h6 {
  color: var(--secondary);
}

h3, h4, h5, h6, label {
  font-family: 'Azeret Mono', serif;
  letter-spacing: 2px;
}

h1, h2{
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 3px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

p, a, li, button, label {
  color: var(--primary);
}

p, a, li, button {
  all: unset;
  font-family: 'Chivo Mono', monospace;
  text-decoration: none;
}

a {
  text-decoration: underline solid;
  text-underline-offset: 1px;
}

a, button {
  cursor: pointer;
}

a:hover {
  color: var(--submit);
}

/* BUTTONS */

.smallButton, .mediumButton, .largeButton {
  background: var(--secondary);

  white-space: nowrap;

  color: var(--primary-background);
  font-family: 'Azeret Mono', serif;
  font-weight: bold;

  text-decoration: none;
  text-align: center;

  margin: 10px;
}

.borderButton {
  border-color: var(--primary);
  color: var(--primary);

  background: none;
}

.smallButton:hover, .mediumButton:hover, .largeButton:hover {
  background: var(--submit);
  color: var(--primary-background);
}

.borderButton:hover {
  background: none;
  color: var(--submit);
    border-color: var(--submit);
}

.smallButton {
  padding: 8px 24px 10px;
  border-radius: 20px;

  height: 1rem;
}

.smallButton.borderButton {
  border: 2px solid;
}

.mediumButton {
  font-size: 1.3rem;

  padding: 12px 32px 16px;
  border-radius: 25px;

  height: 1.3rem;
}

.mediumButton.borderButton {
  border: 3px solid;
}

.largeButton {
  font-size: 2rem;

  padding: 16px 48px 20px;
  border-radius: 50px;

  height: 2rem;
}

.largeButton.borderButton {
  border: 5px solid;
}

/* POSITIONING */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.justifyCenter {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

.justifySpaceBetween {
  justify-content: space-between;
}

/* content width */
  .width100 {
    width: 100%;
  }

  .width80 {
    width: 80%;
  }

  .width60 {
    width: 60%;
  }

  .width50 {
    width: 50%;
  }

/* content height */
  .height100 {
    height: 100%;
  }

  .height50 {
    height: 50%;
  }

/* text position */

.textCenter {
    text-align: center;
}

/* Margin and padding */
  .marginBottom20 {
    margin-bottom: 20px;
  }

/* OTHER */

.divBackground {
  backdrop-filter: blur(10px);
  background: #47198B50;

  border-radius: 10px;
  padding: 20px;
}
